[submodule "deps/labstreaminglayer"]
	path = deps/labstreaminglayer
	url = https://github.com/sccn/labstreaminglayer.git
[submodule "devices/LSL-Android"]
	path = devices/LSL-Android
	url = https://github.com/kothiga/LSL-Android.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "devices/Shimmer3-to-LSL/pyshimmer"]
	path = devices/Shimmer3-to-LSL/pyshimmer
	url = https://github.com/trevor-yu-087/pyshimmer.git
